html, body {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(40, 160, 40);
  text-align: center;
  background-image: linear-gradient(#FFFFFF 0%, #8cff8c 20%, #8cff8c 95%, #000000 100%);
}

.background {
  border-radius: 16px;
  border: 8px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25);
}

table {
  border-collapse: seperate;
  border-spacing: 0;
  border-radius: 16px;
  color: rgb(40, 160, 40);
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      width: 90%; margin: auto;
}

th, td {
  border: 1px solid rgba(255, 255, 255, 0.50);
  padding: 12px;
}

.image {
  z-index: 1;
}

img:hover {
  transform: scale(1.50);
  transition: transform 0.5s ease;
}


  body:has(img:hover) .overlay {
    background: rgba(0,0,0,0.5);
  }

  body:has(img:hover) .header {
    opacity: 0;
  }
  
.overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  transition: background 0.3s;
}

.background img {
  display: block;
  border-radius: 8px;
}


@keyframes gradient-animation {
  0% {left: 125%}
  10% {left: -100%}
  100% {left: -100%}
}

.litho {
  font-size: 48px;
}


.changing:before {
  content: "thing 1";
}
.changing:hover:before {
  content: "";
}
.changing:hover:after {
  content: "thing 2";
}


.shy:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  opacity: 0;
}

.shy:visited {
  color: #ff7aac;
}

.divs {
  /* backdrop-filter: blur(30px); */
}

svg:hover {
  fill: red;
}







.header {
  color: #00ff00;
  overflow: hidden;
  transition: opacity 0.3s;
  position: fixed;
  white-space:nowrap;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
  z-index: 2;
  backdrop-filter: blur(8px);
  
}

.header::after {
  content: "";
  position: absolute;
  left: 125%;
  width: 75%;
  height: 100%;
  background: linear-gradient(45deg, transparent 0%, rgba(255, 255, 255, 0.9) 50%, transparent 100%);
  animation: gradient-animation 5s linear infinite;
}
